<%# OVERRIDE: Blacklight v7.33.1 - Moved sidebar outside content_for, adjusted layout, updated applied filters alignment, and custom theming %>
<div class="container">

  <%= render_document_sidebar_partial @document %>

  <% if current_search_session %>
    <div id="appliedParams" class="clearfix constraints-container pull-right">
      <%= render 'start_over' %>
      <%= link_back_to_catalog class: 'btn' if @search_context %>
    </div>
<% end %>

<%= render 'show_main_content' %>
</div>
