<!-- Copyright Footer -->
<div class="footer-row row g-bg-gray g-py-20">
  <div class="footer-wrapper">
    <div class="col-md-6 col-md-offset-1 border-right">
      <%= image_tag("logo.svg", :alt => "UCLA Library Logo") %>
      <p> The UCLA Library creates a vibrant nexus of ideas, collections, expertise, and spaces in which users illuminate solutions for local and global challenges. We constantly evolve to advance UCLA’s research, education, and public service mission by empowering and inspiring communities of scholars and learners to discover, access, create, share, and preserve knowledge.</p>
    </div>
  </div>
  <div class="col-md-2 padding-top">
    <a class="footer-link" href="http://www.library.ucla.edu/about">About the UCLA Library</a>
    <br/>
    <a class="footer-link" href="http://www.library.ucla.edu/about/about-collections">About the Collections</a>
    <br/>
    <a class="footer-link" href="http://www.library.ucla.edu/give">Giving to UCLA Library</a>
  </div>
  <div class="col-md-2 padding-top">
    <a class="footer-link" href="http://www.ucla.edu/">UCLA Homepage</a>
    <br/>
    <a class="footer-link" href="http://www.library.ucla.edu/about/jobs-ucla-library">Jobs @ UCLA Library</a>
    <br/>
    <a class="footer-link" href="http://www.library.ucla.edu/about/social-media-directory">Social Media Directory</a>
  </div>
</div>
<footer class="g-bg-blue g-color-white-opacity-0_8 g-py-20">
  <div class="container">


    <div class="row">
      <div class="col-md-12 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="text-center d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">© 2017 UCLA Library | Center for Oral History Research</small>

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->