<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">About the Center</h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">The mission of the UCLA Library's Center for Oral History Research is to document the history of Southern California and the Los Angeles metropolitan region through oral history interviews. In addition to interviews conducted by its own staff, the center accepts donated interviews that enhance its collecting areas. Its staff members also undertake selected grant-funded projects that cover subjects beyond the Southern California area.</p>

  <p class="lead g-px-60--md g-mb-40">The center gives information and advice regarding the practice of oral history to UCLA students, faculty, and staff as well as to the broader Los Angeles community. It offers campus and community workshops and provides instruction on oral history methodology to UCLA classes.
  </p>
</div>

