<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Untold Histories: Transnational Voices of Central Americans
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    Beginning in the 1980s, large waves of Central Americans have been migrating to the United States. Facing legal, political, economic, and social barriers, the immigrant community has focused largely on survival, while Central Americans in the isthmus adapt to massive out-migration. The details of these experiences have mainly gone untold, but in this speaker series, a new generation of U.S.-based Central American scholars will share poignant research on their own communities’ struggles and achievements across borders.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    All sessions will take place in the UCLA Charles E. Young Research Library Presentation Room .  Admission is free, and no reservations are required.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    Parking is available for $10 in structure three; enter off Hilgard at Westholme Ave. <a href="https://ucla.app.box.com/s/n49sussjcbo6e9s1ljs9j9icc053mqaq" target="_blank">Click here to view UCLA Parking Map.</a>
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <em>Sponsored by </em><br>
    UCLA Library Center for Oral History Research<br>
    John B. Jackson Oral History Faculty Curator Grant<br>
    César E. Chávez Department of Chicana and Chicano Studies<br>
    Latin American Institute
  </p>
  <p class="lead g-px-60--md g-mb-40"><strong>
    Panels
  </strong></p>
  <p class="lead g-px-60--md g-mb-40">
    <strong><em>Legal Violence: Contextualizing Daily Life of Central Americans in the Isthmus and the U.S.</em></strong><br>
    Thursday, February 2<br>
    1-3 p.m.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <em>Panelists</em><br>
    Cecilia Menjívar, Arizona State University<br>
    Leisy Abrego, UCLA
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <strong><em>Transnational Solidarities: Central American Mobilization in the Isthmus and Beyond</em></strong><br>
    Thursday, March 8<br>
    4-6 p.m.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <em>Panelists</em><br>
    Alicia Estrada, California State University, Northridge<br>
    Hector Perla Jr., University of California, Santa Cruz<br>
    Suyapa Portillo, California State University, Northridge
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <strong><em>Establishing Roots and Navigating New Terrains: Central Americans in the U.S.</em></strong><br>
    Wednesday, April 11<br>
    4-6 p.m.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    <em>Panelists</em><br>
    Ester Hernández, California State University, Los Angeles<br>
    Steven Osuna, University of California, Santa Barbara<br>
    Arely Zimmerman, University of Southern California
  </p>
</div>
