<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Copyright Information
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The UCLA Library Center for Oral History Research has made every effort to determine that information related to copyright and other restrictions in our collections is accurate. However, rights in historical, archival and digital collections may be difficult or impossible to determine. The Library offers broad public access to our collections as a contribution to education and scholarship. Some materials in these collections may be protected by the U.S. Copyright Law (Title 17, U.S.C.). In addition, the reproduction of some materials may be restricted by terms of University of California gift or purchase agreements, donor restrictions, privacy and publicity rights, licensing and trademarks.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    Transmission or reproduction of materials protected by copyright beyond that allowed by fair use or other exemptions requires the written permission of the copyright owners. Works not in the public domain cannot be commercially exploited without permission of the copyright owner. Researchers should consult the sources themselves for information about rights, contacts, and permissions. Responsibility for making an independent legal assessment of the copyrights in particular items and securing any necessary permissions rests exclusively with those persons wishing to use the item(s). If you are a copyright owner of or otherwise have exclusive control over materials presently available through this collection and do not wish your materials to be available through this website, please contact the head of the Center for Oral History Research, Teresa Barnett, at tbarnett@library.ucla.edu or (310) 206-2454.
  </p>

</div>
