<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Permissions
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The accompanying document is an oral history. It is a spoken account of certain events and phenomena recorded at one particular moment and filtered through one individual's life experience, sensibility, and memory. As such, it should be considered a primary source rather than a final, verified, or complete narrative of the events it records.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    All transcripts and recordings on this site are protected under the copyright law of the United States (Title 17, United States Code). These interviews are being made available for private study, scholarship, and research purposes only, and no part of any transcript or audio may be reproduced, disseminated, or quoted for publication without the written permission of the head of UCLA Library’s Center for Oral History Research.
  </p>

</div>
