<%# OVERRIDE: Blacklight v8.6.0 - Remove class: 'navbar-search navbar navbar-light bg-light' from tag.div %>
<%= tag.div role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= search_bar %>
  </div>
<% end %>
<%= render :partial => '/shared/ie_message'%>