@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';
@import 'unify-core';
@import 'unify-globals';
@import 'unify';
@import 'uucustom';

.series-tooltip {
    position: relative;
    display: inline-block;
    font-family: inherit;
}

.series-tooltip .series-tooltip-text {
    visibility: hidden;
    width: 240px;
    background-color: #1e4b87;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-family: inherit;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: -400%;
    font-size: .9rem;
}

.series-tooltip:hover {
  color: #1e4b87;
}

/* Show the tooltip text when you mouse over the tooltip container */
.series-tooltip:hover .series-tooltip-text {
    visibility: visible;
}

@media only screen and (min-width: 480px) {
  .series-tooltip .series-tooltip-text {
    width: 380px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .series-tooltip .series-tooltip-text {
    width: 340px;
  }
}

/* ensures glyphicon still displays correctly */
.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}
