/* GENERAL STYLES */
body {
  font-family: Verdana, "Open Sans", Helvetica, Arial, sans-serif !important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.dropdown-toggle::after {
  content: '';
}

a {
  color: #3284bf;
}
a:hover, a:focus {
  color: #1c6897;
}


.hero-ribbon-gray.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

.hero-ribbon-blue.g-bg-primary-dark-v3 {
  background-color: rgba(30, 75, 135, .8) !important;
}

.hero-info {
  margin-top: 50px;
}

.g-brd-primary {
  border-color: #3284bf !important;
}

.g-bg-primary {
  background-color: #3284bf !important;
}

.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

h2>.hero-ribbon-blue, h3>.hero-ribbon-gray {
  line-height: 1.4;
}

/* BUTTON STYLES */

.btn-primary {
  background-color: #3284bf !important;
  border-color: #3284bf !important;
}
.btn-primary:hover, .btn-primary.active {
  border-color: #ffe800 !important;
  background-color: #ffe800 !important;
  color: #555 !important;
}

.submit-search-text:hover {
  color: #555;
}

.input-group select {
  border: none;
  background-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  color: #3284bf;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #3284bf;
  border-color: #3284bf;
}

/* NAVIGATION */

.navbar {
  margin-bottom: 0;
  border: 1px solid #1e4b87;

}

.navbar + .navbar {
  margin-top:0;
  margin-bottom: 10px;
  border: none;
}

.g-bg-blue {
  background-color: #1e4b87 !important;
}

#header-navbar .navbar-brand {
  background-image: image-url('logo.svg');
  background-position: left center;
  overflow: visible;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #555;
  background-color: #ffe800;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffe800;
}

.subhead {
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman";
}

/* HERO SECTION ON HOME PAGE */

section.g-pos-rel.hero-image-block {
  height: 130%;
  background-image: image-url('ucla_hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#main-container {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

span.input-group-addon.for-search-field {
  background-color: white;
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 2;
}

.form-control:focus, .custom-select:focus {
    border-color: #3284bf;
}

/* FOOTER */

.footer-row {
    background: #ececec;
    color: #333333;
    padding: 50px 1.25rem;
    margin: auto;
}

.footer-wrapper {
  padding: 0 1.25rem;
}

.border-right {
  border-right: 1px solid #a2a2a2;
  padding: 0 1.25rem;
}

a.footer-link {
  color: #1e4b87;
  font-weight: bold;
  line-height: 2.25;
  padding-left: 20px;
}

.padding-top {
  padding-top: 30px;
}

/* UTILITY STYLES */

.g-mt-50 {
  padding-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

/* SEARCH RESULTS PAGE */

/* SIDEBAR FACETS */
// #sidebar {
//   padding-left: 50px;
// }



/* HIGHLIGHT COLORS */

::-moz-selection {
  color: #fff;
  background-color: #ffe800; }

::selection {
  color: #fff;
  background-color: #ffe800; }

  /* FACETS */

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: #3284bf;
    border-color: #3284bf;
}

.panel-success, .facet_limit-active {
    border-color: #3284bf;
}

.text-success, .facet-values li .selected {
    color: #ffe800;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3284bf;
}

.facet_limit-active > .panel-heading.collapse-toggle .panel-title:after {
  color: #fff
}

.text-muted, .appliedFilter .filterName:after, .facet-values .remove, .search_history .filterName, .search_history .filterSeparator {
    color: #ffe800 !important;
}

/* SHOW PAGE */
#document.document h1{
  margin-top: 50px;
  padding-bottom: 20px;
}

#sidebar {
  .panel-body {
    padding: 0 15px;

    .bookmark_toggle {
      padding: 0 15px;
    }
    .nav > li > a {
      padding:5px 15px;
    }
  }
}

.dl-invert dt {
  font-weight: 700;
}

dl.dl-invert.dl-horizontal.show-page {
  margin-top: 380px;
}


/* PLAYER */
.play-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;

  &:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
  }
}
.wave-box {
  height: 340px;
  background-color: #c2daeb;
}
